@{
    ViewBag.Title = "About";
}

<!---------------- Demo Panel Components----------
    ------------------------------------>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body list-group">
        <h3>@ViewBag.Message</h3>

        <p class="list-group-item">Use this area to provide additional information.</p>

    </div>
</div>
